%p The following pages are part of <em>#{page.title}</em>:
%ul#children
	- page.children.each do |child_page|
		%li #{child_page.title}#{": #{child_page.summary}" if child_page.summary?}			
- if contents
	#good-info= contents
	