!!! Strict
%html
	%head
		%meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
		%link{:rel=>'stylesheet', :type=>'text/css', :href=>"#{root}common.css", :media=>'all'}
		%link{:rel=>'stylesheet', :type=>'text/css', :href=>"#{root}glossary.css", :media=>'all'}
		- if custom_css
			%link{:rel=>'stylesheet', :type=>'text/css', :href=>"#{root}#{custom_css}", :media=>'all'}
		%script{:type=>'text/javascript', :src=>"#{root}glossary-terms.js"}
		%script{:type=>'text/javascript', :src=>"#{root}glossary.js"}
		- if custom_js
			%script{:type=>'text/javascript', :src=>"#{root}#{custom_js}"}
		%title= page.title
	%body{ :class=>page.style }
		#content
			#pagetop
				#breadcrumb
					= global.short_title || global.title
					%span.sep &gt;
					- breadcrumb.each do |node|
						%a{ :href=>root/node.link }= node.page.short_title || node.title
						%span.sep &gt;
					= page.title
				%h1#title= page.title
				- if page.author?
					#author= page.author
			#pagebody
				#glossary-box
				#mainbody= contents
				#pagefooter
					Copyright ©#{Time.now.year}#{ " #{global.company}" if global.company? }.
					All Rights Reserved.
